*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none;
}

/**
    Boot Css
 */

.center{
    max-width: 1280px;
    padding: 0 2%;
    margin: 0 auto;
}

img{
    width: 100%;
    max-width: 400px;

}

.w33{
    width: 33.3%;
}

.w50{
    padding: 0 10px;
    width: 50%;
}

.left{
    float: left;
}

.right{
    float: right;
}

.clear{
    clear:both;
}

header{
    padding: 10px 0;
    background: #000814;
}

header .logo-front{
    height: 5%;
    width: 40%;
}

.mobile{
    display: none;
}

nav.desktop ul {
    list-style-type: none;
    position: relative;
    top: 10px;
}

nav.desktop li{
    font-size: 15px;
    display: inline-block;
    padding: 0 30px;
    text-transform: uppercase;
    font-weight: 300;
}

nav.desktop a{
    color: #fff;
    text-decoration: none;
}

nav.desktop a:hover{
    color: #1b263b;
    transition: 2s;
    text-decoration: none;
}

section.banner-principal{
    width:100%;
    height: 600px;
    background-image: url("../img/bg-1.jpg");
    background-size: cover;
    position: relative;
}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,0.7);
}

section.banner-principal form{
    width: 93%;
    max-width: 600px;
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);
    -ms-transform: translate(-50%,-50%);
}

section.banner-principal form h2{
    color: white;
    font-weight: 300;
    font-size: 23px;
    text-align: center;
}

section.banner-principal form input[type=email]{
    width: 100%;
    height: 66px;
    margin-top: 10px;
    background: white;
    color: #333;
    font-size: 22px;
    border-radius: 10px;
    padding-left: 20px;
}

section.banner-principal form input[type=submit]{
    text-align: center;
    width: 100%;
    height: 66px;
    margin-top: 10px;
    background: #0d1b2a;
    color: #778da9;
    font-size: 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
section.banner-principal form input[type=submit]:hover{
    background: #0d1b2a;
    color: #1b263b;
    transition: 2s;
}
section.descricao-autor{
    padding: 30px 0;
}

section.descricao-autor h2{
    font-size: 25px;
    font-weight: 400;
    color: #0d1b2a;
}

section.descricao-autor p{
    font-size: 16px;
    margin-top: 10px;
    color: #1b263b;
}

.descricao-autor img{
    border-radius: 300px;
    width: 100%;
}

.contato{
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
}

.contato a{
    color: #0d1b2a;
}

.contato a:hover{
    color: #1b263b;
}


section.especialidades{
    padding: 40px 0;
    background: #e0e1dd;
}

section.especialidades h2.title{
    font-size: 30px;
    font-weight: 400;
    color: #1b263b;
    text-align: center;
}

.box-especialidades{
    margin: 20px 0;
}

.box-especialidades h3{
    text-align: center;
    color: #0d1b2a;
    font-size: 20px;
}

.especialidas-icons {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}


/**
    Responsive
 */

@media screen and (max-width: 700px){
    nav.desktop{
        display: none;
    }

    nav.mobile{
        display: block;
    }

    .botao-menu-mobile{
        font-size: 24px;
        cursor: pointer;
        color: #778da9;
    }

    nav.mobile ul {
        font-weight: 300;
        z-index: 3;
        position: absolute;
        left: 0;
        top: 55px;
        width: 100%;
        display: none;
        text-align: center;
        padding: 8px 0;
    }

    nav.mobile li{
        display: block;
        background: #1b263b;
        border-bottom: 1px solid #ccc;
        font-size: 15px;
    }

    nav.mobile li a {
        color: #778da9;
        text-decoration: none;
    }
}


@media screen and (max-width: 768px){
    img{
        float: none !important;
        display: block;
        margin: 0 auto;
        max-width: 350px;
    }

    .w50{
        padding: 20px;
        width: 100%;
    }
}